{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class= "col-md-4 offset-3">
      <h1>{% trans "Sign Up" %}</h1>
      <p>{% blocktrans %}Already have an account? Please click here to <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}</p>
      <form class="signup" id="signup_form" class="form-label-group" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirected_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{redirect_field_value}}">
          {% endif %}
        <div>
          <button type="submit" class='btn btn-lg btn-primary btn-block' value="signup">{% trans "Sign Up"%} &raquo;</button> 
          <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}